<template name="layout">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand selectedTab" href="{{pathFor 'home'}}" data-tab="home">Myapp</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="{{getActiveClass 'myPackage'}} selectedTab" data-tab="myPackage">
                <a href="{{pathFor 'myPackage'}}">My package</a>
                </li>
                <li class="{{getActiveClass 'slickPackage'}} selectedTab" data-tab="slickPackage">
                <a href="{{pathFor 'slickPackage'}}">Slick package</a>
                </li>
                <li class="{{getActiveClass 'dateTimePackage'}} selectedTab" data-tab="dateTimePackage">
                <a href="{{pathFor 'dateTimePackage'}}">Date time</a>
                </li>
                <li class="{{getActiveClass 'chartView'}} selectedTab" data-tab="chartView">
                <a href="{{pathFor 'chartView'}}">Chart</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="col-md-12">
        {{>yield}}
    </div>        

</template>