.carousel-obj{
    background: #fff;
    min-height: 140px;
    padding: 60px;
    font-size:20px;
    margin-bottom: 5px;
    position: absolute;    
}

[data-activeslider="active"]{
    display: block;    
}

.carousel-arrow{
    margin-top: 40px;
    font-size: 30px !important;
    color:#fff;
    cursor: pointer;
    padding: 10px;
}