<template name="carousel">
    <div class="col-md-12 ">
        <div class="col-md-2 text-right"><i id="leftSlider" class="fa fa-angle-left carousel-arrow"></i></div>
        <div id="carouselSlider" class="col-md-8 text-center">
            <div class="col-md-12 text-center carousel-obj" data-activeSlider="active" data-value="1">1 slider</div>
            <div class="col-md-12 text-center carousel-obj" data-value="2" style="display: none;">2 slider</div>
            <div class="col-md-12 text-center carousel-obj" data-value="3" style="display: none;">3 slider</div>
            <div class="col-md-12 text-center carousel-obj" data-value="4" style="display: none;">4 slider</div>
            <div class="col-md-12 text-center carousel-obj" data-value="5" style="display: none;">5 slider</div>
            <div class="col-md-12 text-center carousel-obj" data-value="6" style="display: none;">6 slider</div>
        </div>
        <div class="col-md-2"><i id="rightSlider" class="fa fa-angle-right carousel-arrow"></i></div>
    </div>    
</template>